
@media only screen and (max-width: 760px) {
	
	#landing-div {
		padding-top: 0vh;
	}

	div.header h1.header-name { 
		font-size: 2em;
	}

	div.header p.tagline {
		font-size: 1.5em !important;
	}

	.tag-module {
		font-size: .95em;
	}

	.header-img {
		margin-top: 0vh;
		margin-bottom: 5vh;
	}

	#nav1-mobile, 
	#nav2-mobile {
		z-index: 100;
	}

	#items div.card {
		/* margin: 5%; */
		width: 100%;
	}

	#desktop-nav {
		display: none;
	}

	#mobile-nav {
		display: block;
	}

	#resume-link-mobile { display: block; }
	#resume-link-desktop { display: none; }

	.card {
    margin-left: 0px !important;
	}

	div.devstats {
    padding: 0px;
	}

	#devstats-header {
		margin-left: 5%;
	}

	div.devstats h2.thin-font {
		margin-top: 5%;
	}
} 

@media only screen and (min-width: 760px) and (max-width: 1048px) {

	div.landing div.header {
		margin-right: 2.5%;
		padding-left: 5%;
	}

	div.sub-section {
		margin-top: 2%;
	}
}