<div id="desktop-nav" class="nav col">
    <a id="nav1" href="#header_top"><div class="nav1"><span>About</span></div></a>
    <a id="nav2" href="#header_top"><div class="nav2"><span>Contact</span></div></a>
    <section id="dropdown_menu">
        <div id="nav3button" class="nav3button transformUp"><span id="dropDownButton">V</span></div>
        <a href="{% url 'Projects' %}"><div id="nav3" class="nav3"><span>Projects</span></div></a>
        <div id="nav4"> 
            <ul id="dropdown_list">
                <li><a id="exp_link" href="{% url 'Projects' %}">Work Experience</a></li>
                <li><a id="proj_link" href="{% url 'Projects' %}">Projects</a></li>
            </ul>
        </div>
    </section>
</div>