
<div class="row">
  <div class="col devstats">
    
    <h2 id="devstats-header" class="thin-font fade-in-on-scroll">Developer Stats:</h2><br>

    <table class="table">
      <tbody>
        <tr>
          <th>Web Apps in Production</th>
          <td>
            <ul>
              <li>3 static sites & 6 full stack web applications</li>
              <li>2 currently in-use by Pittsburgh based non-profits</li>
              <li>Contributor to multiple <a href="https://gitlab.com/users/mkornyev/activity">open</a> & <a href="https://github.com/Novetta">closed</a>-source projects</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>Client Engagements</th>
          <td>
            <ul class="no-bullit">
              <li>3 semester long consulting projects in 2019, 2020, and 2021</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>Teaching Experience</th>
          <td>
            <ul class="no-bullit">
              <li>2.5 years teaching 4 advanced engineering courses</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>Key Competencies</th>
          <td>
            <ul>
              <li>Full Stack Web Development</li>
              <li>Knowledge of DevOps & Microservice best-practices</li>
              <li>Familiarity with industry standard containerization, orchestration, & AWS tools</li>
              <li>Ability to manage the development of a small project from design to production</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>