
<div class="row">
  <div class="col devstats">
    
    <h2 class="thin-font">Developer Stats:</h2><br>

    <table class="table">
      <tbody>
        <tr>
          <th>Web Apps in Production</th>
          <td>
            3 static sites & 4 full stack applications<br>
            1 being used by a Pittsburgh based non-profit now<br>
            Contributor to multiple <a href="https://gitlab.com/users/mkornyev/activity">open</a> & <a href="https://github.com/Novetta">closed</a>-source projects
          </td>
        </tr>
        <tr>
          <th>Consulting Engagements</th>
          <td>
            3 semester long client projects in 2019, 2020, and 2021
          </td>
        </tr>
        <tr>
          <th>Teaching Experience</th>
          <td>
            2.5 years teaching 4 advanced engineering courses
          </td>
        </tr>
        <tr>
          <th>Competencies</th>
          <td>
            Full Stack Web Development<br>
            Knowledge of DevOps and Operations best-practices<br>
            Project Management<br>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>