<div class="about row">
    <div class="banner col">
        {% load static %}
        <a href="https://github.com/mkornyev" target="_blank" rel="noreferrer"><img src="{% static 'mkv2/github.png' %}" alt="Github Logo"></a>
        <a href="https://www.linkedin.com/in/mkornyev" target="_blank" rel="noreferrer"><img src="{% static 'mkv2/linkedin.png' %}" alt="LinkedIn Logo"></a>
        <a href="https://hub.docker.com/u/fibdocker" target="_blank" rel="noreferrer"><img src="{% static 'mkv2/docker.png' %}" alt="Docker Logo"></a>
        <a href="mailto:mkornyev@gmail.com"><img src="{% static 'mkv2/mail.png' %}" alt="Email Logo"></a>
    </div>
</div>