<div class="about row">
    <div class="banner col">
        {% load static %}
        <a href="https://github.com/mkornyev" target="_blank"><img src="{% static 'mkv2/github.png' %}"></a>
        <a href="https://www.linkedin.com/in/mkornyev" target="_blank"><img src="{% static 'mkv2/linkedin.png' %}"></a>
        <a href="https://www.facebook.com/max.kornyev" target="_blank"><img src="{% static 'mkv2/facebook.png' %}"></a>
        <a href="mailto:mkornyev@gmail.com"><img src="{% static 'mkv2/mail.png' %}"></a>
    </div>
</div>