<div class="modal fade" id="resume-modal" tabindex="-1" role="dialog" aria-labelledby="Modal containing a Resume PDF" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="height: 80vh;" role="document">
      <div class="modal-content" style="height: 90vh;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Resume | Maksym Kornyev</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- <iframe src="assets/resume.pdf" type="application/pdf" class="modal-content"></iframe> -->
            {% load static %}
            <embed src="{% static 'mkv2/lib/resume.pdf' %}" type="application/pdf" height="100%" class="modal-content"></embed>
        </div>
      </div>
    </div>
  </div>