{% extends "mkv2/base.html" %}

{% block pageName %}
    Home
{% endblock %}

{% block pageMeta %}
<meta name="description" content="Maksym Kornyev. Information Systems Major & Software Engineering Minor @ Carnegie Mellon. See my portfolio of full stack, freelance, & consulting projects.">
<meta itemprop="description" content="Maksym Kornyev. Information Systems Major & Software Engineering Minor @ Carnegie Mellon. See my portfolio of full stack, freelance, & consulting projects.">
<meta property="og:description" content="Maksym Kornyev. Information Systems Major & Software Engineering Minor @ Carnegie Mellon. See my portfolio of full stack, freelance, & consulting projects."/>
{% endblock %}

{% block content%}
<!-- Anchor for scrolls -->
<br id="header_top"> 

{% include 'mkv2/_resumeModal.html' %}

{% include 'mkv2/_mobileNav.html' %}

<!-- Landing Page -->
<div id="landing-div" class="landing row">
    <div class="header col">
        <div>
            {% load static %}
            <img class="header-img zero-opacity" src="{% static 'mkv2/headshotSmall.JPG' %}" alt="Headshot Header" loading=lazy><br>
            <h1 class="header-name">Maksym Kornyev</h1>
        </div>
        <p class="tagline">Full stack developer.</p>
        <p class="tag-module">
            I hold a Bachelor of Science in Information Systems from <b><span class="carnegie">Carnegie Mellon University</span></b>, with a minor in <b><span class="isr">Software Engineering.</span></b><br><br>
            My specialties are full stack web development and working with non-technical clients. See the <i>Projects</i> page for my full portfolio.
        </p>

        <div class="sub-section">
            <div id="resume-link-desktop">
                <button id="resume-btn" type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#resume-modal">Resume</button>
            </div>
            <div id="resume-link-mobile">
                {% load static %}
                <a id="resume-link-btn" href="{% static 'mkv2/lib/resume.pdf' %}" class="btn btn-lg btn-info">Resume</a>
            </div>
            <p class="small text-muted mt-3">The PDF has external links to source code.<br>Dont forget to check out <a href="https://mkornyev.github.io">V1</a> of the site!</p>
        </div>
    </div>

    {% include 'mkv2/_desktopNav.html' %}

</div>

{% include 'mkv2/_linksBanner.html' %}

{% include 'mkv2/_developerStats.html' %}

<div class="row">
    <div class="col carousel-col"> 
        <h2 class="thin-font fade-in-on-scroll">What I've Been Working On:</h2>
        <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
            <img class="gallery-cell" src="{% static 'mkv2/carousel/flp-report.png' %}" alt="Solidity Scripting" loading=lazy>
            <img class="gallery-cell" src="{% static 'mkv2/carousel/solidity.png' %}" alt="Solidity Scripting" loading=lazy>
            <img class="gallery-cell" src="{% static 'mkv2/carousel/baking-factory.png' %}" alt="Baking Factory" loading=lazy>
            <img class="gallery-cell" src="{% static 'mkv2/carousel/portal.png' %}" alt="FIB Submission Portal" loading=lazy>
            <img class="gallery-cell" src="{% static 'mkv2/carousel/wireframe.png' %}" alt="Sketch Wireframe: ButterWood" loading=lazy>
            <img class="gallery-cell" src="{% static 'mkv2/carousel/swagger.png' %}" alt="SwaggerDocs API" loading=lazy>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="{% static 'mkv2/index.js' %}"></script>
{% endblock %}