{% extends "mkv2/base.html" %}

{% block content%}

<!-- Anchor for scrolls -->
<br id="header_top"> 

<!-- Back Navigation -->

<!-- <div id="backButton"> -->
    <a  id="backButton" class="arrow-link left" href="{% url 'Home' %}"></a>
<!-- </div> -->

<!-- Projects Landing Page -->
<div id="landing-div" class="landing row">
    <div class="header col" style="justify-content: center;">
        {% load static %}
        <img id="logo" src="{% static 'mkv2/logo.png' %}">
        <h1 class="projectsHeading">Projects & Work Experience</h1>
        <p class="projectsTag">
            See all portfolio items below, or filter by category
        </p>
        <a id="items" data-scroll href="#items">
            <div class="arrow items-arrow"></div>
        </a>
    </div>
</div>
  
<!-- Links Banner -->
<div class="about row">
    <div id="items" class="banner col">
        
    </div>
</div>


{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="{% static 'mkv2/projects.js' %}"></script>
{% endblock %}