{% extends "mkv2/base.html" %}

{% block pageName %}
    Maksym Kornyev | Projects
{% endblock %}

{% block content%}

<!-- Anchor for scrolls -->
<br id="header_top"> 

<!-- Back Navigation -->

<!-- <div id="backButton"> -->
    <a  id="backButton" class="arrow-link left" href="{% url 'Home' %}"></a>
<!-- </div> -->

<!-- Projects Landing Page -->
<div id="landing-div" class="landing row">
    <div class="header col" style="justify-content: center;">
        {% load static %}
        <img id="logo" src="{% static 'mkv2/logo.png' %}">
        <h1 class="projectsHeading">Projects & Work Experience</h1>
        <p class="projectsTag">
            See all portfolio items below, or filter by category
        </p>
        <a id="items" data-scroll href="#items">
            <div class="arrow items-arrow"></div>
        </a>
    </div>
</div>

<style>
  #items {
    padding: 5%;

    /* display: flex;
    flex-direction: row; */
  }

  .card {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    width: 24rem;

    /* border-radius: 10% 10% 2% 2%; */
    border-radius: 3%;
    margin-left: 7px;
    margin-right: 7px;
  }

  .card:hover{ 
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow .375s ease-in-out;
    cursor: pointer;
  }

  img.card-img-top {
    opacity: 1 !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    /* border: 1.5px solid gray; */
    border-radius: 7px;
  }

  .tag {
    padding: 4px;
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
    border-radius: 3px 10px 10px 3px;
  }

  #searchBar {
    width: calc(75% - 30px);
    display: inline-block;
    margin: 10px;
  }
  #searchBarButton, #searchFilter {
    width: 12.5%;
    display: inline-block;
    margin-top: -4px;
  }

  #searchBreak {
      display: none;
    }

  #id_tags {
    list-style: none;
  }

  .scroll-section {
    min-height: 50px;
  }

  .btn-card {
    color: unset;
    text-align: unset;
    vertical-align: middle;
    padding: 0px;
  }

  @media only screen and (max-width: 530px) {
    #searchBar { 
      width: 95%;
    }

    #searchBarButton, #searchFilter {
      width: 40%;
      display: inline-block;
      margin: 10px;
    }

    #searchBreak {
      display: block;
    }
}

</style>

<!-- Projects Section -->
<div class="about row">
  <div id="items" class="banner col" style="display: inline-block;">

    <!-- Search Bar -->
    <form method="GET" action="">
      <input id="searchBar" name="query" value="{{ request.GET.query }}" class="form-control" type="search" placeholder="Search items and descriptions" aria-label="Search">
      <br id="searchBreak">
      <button id="searchBarButton" class="btn btn-primary" type="submit">Search</button>
      <a id="searchFilter" class="btn btn-primary dropdown-toggle"  data-toggle="collapse" href="#filterDropdown" role="button" aria-expanded="false" aria-controls="filterDropdown">Filters</a>
    </form>

    <div class="collapse" id="filterDropdown">
			<div id="filter-card" class="card-body">
				<!-- Tag filter actions -->
				<form action="" method="GET" class="tag-form">
					<div class="form-goup">
						<input id="filter-search" class="form-control" placeholder="Search for a tag" aria-label="Search">
					</div>

					<hr style="margin-bottom: 0;">

					<!-- DEPENDENCY ON THIS SECTION STRUCTURE: in resourceScripts.js -->
					<div class="scroll-section">
						{{ filters.form.as_table }}
					</div>

					<hr style="margin-top: 0;">

					<button class="btn btn-primary" type="submit">Search Filters</button>
					<button id="clearSelectionButton" class="btn btn-primary">Clear Filters</button>
				</form>
			</div>
		</div>
    
      {% for p in projects %}

        <!-- Project Card -->
        <button class="btn btn-primary" data-toggle="modal" data-target="#modal{{ p.id }}" style="all: unset; cursor: pointer;">
          <div class="card">
            {% if p.imageName %}
              {% load static %}
              {% with 'mkv2/'|add:p.imageName as imageName %}
                <img class="card-img-top" src="{% static imageName %}" alt="{{ p.imageName }}">
              {% endwith %}
            {% endif %}
            
            <div class="card-body">
              <p class="card-text">
                <b>{{ p.name|safe }}</b>
                {{ p.short|safe }}
                <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#modal{{ p.id }}" style="cursor: pointer;">Hello</button> -->
              </p>
              <i>{{ p.date|date:"M d, Y" }}</i>
            </div>
            <div class="card-footer text-muted">
              {% for t in p.tags.all %}
                <span class="tag">#{{ t.name }}</span>
              {% endfor %}
            </div>
          </div>
        </button>

        <div id="modal{{ p.id }}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="#{{ p.id }}_modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="{{ p.id }}_modalLabel">{{ p.name|safe }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ p.short|safe }}
                {{ p.content|safe }}
              </div>
              <div class="card-footer text-muted">
                {% for t in p.tags.all %}
                  <span class="tag">#{{ t.name }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      
      {% if request.GET.query %}
        <br><br><a href="{% url 'Projects' %}" class="btn btn-primary" style="float: center;">See all results</a>
      {% endif %}
  </div>

</div>


{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="{% static 'mkv2/projects.js' %}"></script>
{% if anchor %}
<script type='text/javascript'>
  $(document).ready(function(){
    window.location = '{{ anchor }}'
	});
</script>
{% endif %}
{% endblock %}